.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  height: max-content;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 20px grey;
  border-radius: 5px;

  @media (max-width: 480px) {
    width: 95%;
    height: 90%;
  }
}
