.Button {
  width: 109px;
  height: 33px;
  background-color: #0073e6;
  color: #fff;
  box-sizing: border-box;
  padding: 6px 8px;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;

  .small {
    // TODO:
  }

  @media (max-width: 1080px) {
    width: 50px;
  }
}
