.DetailsBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  border-right: 1px solid grey;
  box-sizing: border-box;
  font-size: 14px;
  padding-right: 10px;

  .Label {
    font-family: 'Titillium Web Black', Arial, serif;
  }

  .Content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .Description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
    background-color: #80808040;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 4px;
    height: 100%
  }

  @media (max-width: 640px) {

    font-size: 10px;
    .Content {
      flex-direction: column;
    }
  }

}
