.DatesBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  border-right: 1px solid grey;
  box-sizing: border-box;
  font-size: 13px;
  padding-right: 5px;

  div {
    display: flex;
    justify-content: space-evenly;
  }

  .Label {
    font-family: 'Titillium Web Black', Arial, serif;
  }

  @media (max-width: 1080px) {
    font-size: 12px;
    width: 25%;
    div {
      flex-direction: column;
    }
  }

  @media (max-width: 640px) {
    font-size: 10px;
  }

}
