.ActionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
  min-height: 50px;

  .LeftSideContent {

  }

  .RightSideContent {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 480px) {
    flex-direction: column;
  }
}
