.ActionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
  margin: 15px;
  flex-wrap: wrap;

  .LeftSideContent {

  }

  .RightSideContent {
    display: flex;
    justify-content: space-between;

    .Sort {
      display: flex;

      span {
        margin-right: 10px;
        font-family: 'Titillium Web Black', Arial, serif;
      }

      div {
        margin-right: 10px;
        cursor: pointer;
        border-right: 1px solid grey;
        padding-right: 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .Filter {
      display: flex;

      span {
        margin-right: 10px;
        font-family: 'Titillium Web Black', Arial, serif;
      }

      div {
        margin-right: 10px;
        cursor: pointer;
        border-right: 1px solid grey;
        padding-right: 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 640px) {
    .RightSideContent {
      flex-direction: column;
    }
  }
}
